AddSubClient/web/WEB-INF/wsdl/localhost_8080/AddSub/Calc.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://AddSub/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://AddSub/" name="Calc">
<types>
<xsd:schema>
<xsd:import namespace="http://AddSub/" schemaLocation="http://localhost:8080/AddSub/Calc?xsd=1"/>
</xsd:schema>
</types>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="Add">
<part name="parameters" element="tns:Add"/>
</message>
<message name="AddResponse">
<part name="parameters" element="tns:AddResponse"/>
</message>
<message name="Sub">
<part name="parameters" element="tns:Sub"/>
</message>
<message name="SubResponse">
<part name="parameters" element="tns:SubResponse"/>
</message>
<portType name="Calc">
<operation name="hello">
<input wsam:Action="http://AddSub/Calc/helloRequest" message="tns:hello"/>
<output wsam:Action="http://AddSub/Calc/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="Add">
<input wsam:Action="http://AddSub/Calc/AddRequest" message="tns:Add"/>
<output wsam:Action="http://AddSub/Calc/AddResponse" message="tns:AddResponse"/>
</operation>
<operation name="Sub">
<input wsam:Action="http://AddSub/Calc/SubRequest" message="tns:Sub"/>
<output wsam:Action="http://AddSub/Calc/SubResponse" message="tns:SubResponse"/>
</operation>
</portType>
<binding name="CalcPortBinding" type="tns:Calc">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Add">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Sub">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Calc">
<port name="CalcPort" binding="tns:CalcPortBinding">
<soap:address location="http://localhost:8080/AddSub/Calc"/>
</port>
</service>
</definitions>